/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24.12.2016, 11:39:38
    Author     : developer
*/

//Комментарии

.media {

    &.comment-content {
        margin-bottom: 30px;

        &.referee {
         background-color: #F7F6F1;
        }

        &:last-child {
            margin-bottom: 40px;
        }

        @media (max-width: @screen-sm-min) {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 30px;
            }
        }

        padding-bottom: 30px;

        .media-object {

            &.img-thumbnail {
                max-width: 150px;

                @media (max-width: @screen-sm-min) {
                    max-width: 80px;
                }
            }

        }

        .divider {
            height: 1px;
            background-color: #e2e2e2;
            margin-top: 20px;
            margin-bottom: 16px;

            @media (max-width: @screen-sm-min) {
                margin-top: 16px;
                margin-bottom: 8px;
            }
        }

    }


    &.comment-preview {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 20px;
        }

        @media (max-width: @screen-sm-min) {
            margin-bottom: 20px;
            font-size: 90%;

            &:last-child {
                margin-bottom: 30px;
            }
        }

        padding-bottom: 10px;

        .divider {
            height: 1px;
            background-color: #e2e2e2;
            margin-top: 20px;
            margin-bottom: 16px;

            @media (max-width: @screen-sm-min) {
                margin-top: 16px;
                margin-bottom: 8px;
            }
        }

    }

}
