.quick-start {
 img {
  //max-width: 20%;
  //@media (max-width: @screen-sm-max) {
   //max-width: 30%;
  //}

  &.img-content {
   &.img-left {
    margin: 0 10px 10px 0;
   }

   &.img-right {
    margin: 0 0 10px 10px;
   }
  }
 }
}

.decor {
  margin-bottom: 20px;
  .lead {
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.jumbotron {
 &.recommend {
  margin-top: 16px;
  padding: 10px;

  &.info {
   background-color: rgb(226, 207, 194);
  }

  &.statistic {
   background-color: #9с9с9с;

   &.gold {
    background-color: rgb(241, 222, 141);
   }
  }

  p {
   font-size: 0.8rem;
   @media (max-width: @screen-sm-max) {
    font-size: 1rem;
   }
  }

  table {
   width: 100%;
   tr {
    td {
     padding: 5px 20px;
     a {
      color: #333333;
     }
    }
   }

  }
 }

 &.nomination {
  background-color: #ffffff;
  padding: 4px;
  border: 1px solid #dddddd;

  .header {
   display: table;
   padding: 4px;
   height: 60px;
   width: 100%;
   border-radius: 4px 4px 0 0;

   &.closed {
    opacity: 0.5;
   }

   &.woman {
    background-color: #18bc9c;
   }

   &.man {
    background-color: #0083C9;
   }

   &.unisex {
    background-color: #FF8080;
   }

   .block {
    display: table-cell;
    vertical-align: middle;

    &.sex {
     &.woman {
      color: #18bc9c;
     }

     &.man {
      color: #0083C9;
     }

     &.unisex {
      .fa-male {
       color: #0083C9;
      }

      .fa-female {
       color: #18bc9c;
      }
     }

     small {
      background-color: #18bc9c;
      color: #ffffff;
     }
    }

    img {
     height: 52px;
     overflow-y: hidden;
    }

    h3 {
     width: 50%;
     padding: 0;
     margin: 0;
     font-size: 1.3rem;
     @media (min-width: @screen-xs-max) and (max-width: @screen-md-min) {
      font-size: 1.8rem;
     }
     color: #ffffff;
    }
   }
  }

  .description {
   display: table;
   height: 60px;
   width: 100%;
   @media (min-width: @screen-xs-max) and (max-width: @screen-md-min) {
    padding-left: 30px;
   }
   border-top: 1px solid #eeeeee;
   border-bottom: 1px solid #eeeeee;
   font-size: 100%;

   .block {
    display: table-cell;
    vertical-align: middle;

    small {
     padding: 5px;
     border-radius: 8px;
     font-size: 70%;
    }

    &.sex {
     &.woman {
      color: #18bc9c;
     }

     &.man {
      color: #0083C9;
     }

     &.unisex {
      .fa-male {
       color: #0083C9;
      }

      .fa-female {
       color: #18bc9c;
      }
     }

     small {
      background-color: #18bc9c;
      color: #ffffff;
     }
    }

    &.prize {
     color: #FFBA00;

     small {
      background-color: #edde34;
      color: #ffffff;
     }
    }

    &.like {
     color: #FF0000;

     small {
      background-color: #FF9B9B;
      color: #ffffff;
     }
    }
   }
  }

  .calendar {
   display: table;
   height: 60px;
   width: 100%;
   @media (min-width: @screen-xs-max) and (max-width: @screen-md-min) {
    padding-left: 30px;
   }
   font-size: 130%;

   .block {
    display: table-cell;
    vertical-align: middle;

    small {
     padding: 5px;
     border-radius: 8px;
     font-size: 70%;
    }
   }
  }
 }
}

.thumbnail {
 &.index-user {
  h4 {
   font-size: 1rem;
  }

  p {
   @media (max-width: @screen-sm-min) {
    font-size: 0.9rem;
   }
  }

  .avatar {
   height: 100px;
   overflow-y: hidden;
  }

  &.liked {
   margin-bottom: 0.5rem;
  }

  .liked {
   height: 100px;
   overflow-y: hidden;
   @media (max-width: @screen-sm-min) {
    height: 60px;
   }
  }
 }

 &.index-photo {
  .pic {
   overflow-y: hidden;
   position: relative;

   img {
    border: 0;
   }

   a {
    position: relative;
   }
   @media (min-width: @screen-lg-min) {
    height: 200px;
   }
   @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    height: 200px;
   }
   @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    height: 180px;
   }
   @media (max-width: @screen-xs-max) {
    height: 130px;
   }

   .pic-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    background: rgba(24, 188, 156, 0.8);
    padding: 0 2em;
    height: 5em;
    @media (max-width: @screen-xs-max) {
     height: 3em;
    }

    h4 {
     color: #ffffff;

     a {
      color: #ffffff;

      &:hover {
       text-decoration: none;
      }
     }
     @media (max-width: @screen-xs-max) {
      display: none;
     }
    }

    p {
     @media (max-width: @screen-xs-max) {
      margin-top: 0.8em;
     }
    }
   }
  }
 }
}

.index-comment {
 p {
  &.text-description {
   text-overflow: ellipsis; // образка длинных блоков с текстом
   overflow: hidden;
   width: 100%;
   //white-space: nowrap;
   max-height: 8.7rem;
  }
 }

 &.vertical {
  //background-color: rgb(237, 241, 233);
  //padding: 10px;
  //border-radius: 0.375rem;
  //@media (max-width: @screen-sm-min) {
  //display: none;
  //}
  .comment-content {
   padding: 0;
   margin: 0 0 20px;

   &.referee {
    background-color: rgb(231, 228, 164);
   }
  }

  h4 {
   margin-bottom: 18px;
  }

  img {
   width: 100px;
   margin-bottom: 16px;
  }
 }

 &.mobile {
  @media (min-width: @screen-sm-max) {
   display: none;
  }
 }
}

.index-news {
 .media {
  &.newslist-content {
   .media-object {
    &.img-thumbnail {
     max-width: 100%;
    }
   }
  }
 }
}
