/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 23, 2017, 6:30:50 PM
    Author     : developer
*/

//Список новостей

.media {

    &.newslist-content {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 40px;
        }

        @media (max-width: @screen-sm-min) {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 30px;
            }
        }

        padding-bottom: 30px;

        .media-object {

            &.img-thumbnail {
                max-width: 200px;

                @media (max-width: @screen-sm-min) {
                    max-width: 120px;
                }


            }

        }


        .media-body {

            a {
                color: @text-color;
            }

        }

        .divider {
            height: 1px;
            background-color: #e2e2e2;
            margin-top: 20px;
            margin-bottom: 16px;

            @media (max-width: @screen-sm-min) {
                margin-top: 16px;
                margin-bottom: 8px;
            }
        }

    }




}

