/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 10.12.2016, 10:14:00
    Author     : developer
*/
//Номинация

.thumbnail {
 &.nomination {
  &.user {
   margin-bottom: 30px;
  }

  .header {
   height: 120px;
   border-radius: 4px 4px 0 0;
   padding-top: 20px;
   position: relative;
   margin-bottom: 20px;

   &.closed {
    opacity: 0.5;
   }

   &.woman {
    background-color: #18bc9c;
   }

   &.man {
    background-color: #0083C9;
   }

   &.unisex {
    background-color: #FF1493;
   }

   h3 {
    color: #ffffff;
    margin-left: 20px;
   }

   img {
    position: absolute;

    &.nomination_1 {
     top: 6px;
     left: 200px;

     @media (max-width: @screen-xs-max) {
      left: 100px;
    }

      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
       left: 150px;
     }

    }

    &.nomination_fitness_mama {
      top: 4px;
      left: 234px;

      @media (max-width: @screen-xs-max) {
       left: 200px;
     }

       @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        left: 100px;
      }

    }

    &.nomination_bodyshape {
      top: 0px;
      left: 212px;

      @media (max-width: @screen-xs-max) {
       left: 180px;
     }

       @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        left: 164px;
      }

    }


    &.nomination_musculfit {
      top: 0px;
      left: 224px;

      @media (max-width: @screen-xs-max) {
       left: 190px;
     }

       @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        left: 164px;
      }

    }

    &.nomination_2 {
     top: 6px;
     left: 220px;

     @media (max-width: @screen-xs-max) {
      left: 100px;
    }

      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
       left: 150px;
     }

    }

    &.nomination_4 {
     top: 6px;
     left: 200px;

     @media (max-width: @screen-xs-max) {
      left: 100px;
    }

      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
       left: 150px;
     }

    }
    &.nomination_5 {
     top: 6px;
     left: 140px;

     @media (max-width: @screen-xs-max) {
      left: 100px;
    }

      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
       left: 140px;
     }

    }
   }
  }

  .description {
   display: table;
   height: 60px;
   width: 100%;
   padding-left: 30px;
   border-top: 1px solid #eeeeee;
   border-bottom: 1px solid #eeeeee;
   font-size: 130%;

   .block {
    display: table-cell;
    vertical-align: middle;

    small {
     padding: 5px;
     border-radius: 8px;
     font-size: 70%;
    }

    &.sex {
     &.woman {
      color: #18bc9c;
     }

     &.man {
      color: #0083C9;
     }

     &.unisex {
      .fa-male {
       color: #0083C9;
      }

      .fa-female {
       color: #18bc9c;
      }
     }

     small {
      background-color: #18bc9c;
      color: #ffffff;
     }
    }

    &.prize {
     color: #FFBA00;

     small {
      background-color: #edde34;
      color: #ffffff;
     }
    }

    &.like {
     color: #FF0000;

     small {
      background-color: #FF9B9B;
      color: #ffffff;
     }
    }
   }
  }

  .calendar {
   display: table;
   height: 60px;
   width: 100%;
   padding-left: 30px;
   border-bottom: 1px solid #DAF2FF;
   font-size: 130%;

   .block {
    display: table-cell;
    vertical-align: middle;

    small {
     padding: 5px;
     border-radius: 8px;
     font-size: 70%;
    }
   }
  }

  .competitor {
   display: table;
   height: 60px;
   width: 100%;
   padding: 14px 0 14px 30px;
   border-bottom: 1px solid #eeeeee;
   font-size: 130%;

   .block {
    display: table-cell;
    vertical-align: middle;
    color: #cccccc;

    small {
     font-size: 70%;
    }

    &.avatar {
     height: 100px;

     img {
      max-width: 80px;
      margin-left: 0;
      max-height: 64px;
     }
    }

    &.like {
     color: #FF0000;

     small {}
    }
   }
  }

  ul {
   margin-left: 20px;
  }
 }
}

.jumbotron {
 &.nommi {
  padding: 20px 10px;

  &.sex {
   &.woman {
    //background-color: #18bc9c;
    background-color: #ffffff;
   }

   &.man {
    //background-color: #0083C9;
    background-color: #ffffff;
   }

   &.unisex {
    //background-color: #FF8080;
    background-color: #ffffff;
   }

   img {
    position: relative;

    &.strongwoman_1 {
     top: 10px;
    }

    &.strongwoman_fitness_mama {
     top: 9px;
    }

    &.strongman_1 {
     top: 5px;
    }

    &.musculfitman {
     top: 22px;
    }

    &.progress_1 {
     top: 4px;
    }
   }
  }

  &.rules {
   //background-color: #0083C9;
   background-color: #ffffff;

   img {
    position: relative;

    &.rules_1 {
     top: 10px;
    }

    &.musculfit_rules {
     top: 15px;
    }

    &.rules_fitness_mama {
      top: 9px;
    }
  }

  }

  .btn-nommi {
   width: 60%;
  }
 }
}

table {
 &.nommi-table {
  width: 100%;
  font-size: 150%;
  @media (max-width: @screen-sm-min) {
   margin-top: 30px;
   margin-bottom: 30px;
  }

  &.woman {
   background-color: #18bc9c;
  }

  &.calendar {
   //height: 176px;
   tr {
    td {
     small {
      font-size: 70%;
     }
    }
   }
  }

  tr {
   border-bottom: 1px solid #ffffff;

   &:last-child {
    border-bottom: none;
   }

   td {
    width: 33%;
    padding: 30px 0;
    border-right: 1px solid #ffffff;
    text-align: center;

    &:last-child {
     border-right: none;
    }

    small {
     font-size: 50%;
    }

    &.like {
     color: #FF0000;

     small {
      color: #ffffff;
     }

     &.gold {
      color: #FFBA00;

      small {
       padding: 5px;
       border-radius: 8px;
       font-size: 70%;
       background-color: #edde34;

       a {
        color: #ffffff;
       }
      }
     }
    }

    &.prize {
     color: #FFBA00;

     small {
      color: #ffffff;
     }

     &.gold {
      color: #FFBA00;

      small {
       padding: 5px;
       border-radius: 8px;
       font-size: 70%;
       background-color: #edde34;

       a {
        color: #ffffff;
       }
      }
     }
    }

    &.sex {
     &.woman {
      color: #18bc9c;
     }

     &.man {
      color: #ffffff;
     }

     &.unisex {
      .fa-male {
       color: #ffffff;
      }

      .fa-female {
       color: #ffffff;
      }
     }

     small {
      color: #9d9d9d;
     }
    }

    &.photo {
     color: #0083C9;

     small {
      color: #9d9d9d;
     }
    }

    &.comment {
     color: #0083C9;

     small {
      color: #9d9d9d;
     }
    }

    &.start {
     color: #18bc9c;

     small {
      color: #9d9d9d;
     }
    }

    &.finish {
     color: #FF0000;

     small {
      color: #9d9d9d;
     }
    }

    &.end {
     color: #FFD700;

     small {
      color: #9d9d9d;
     }
    }

    a {
     color: #5D9FC2;
    }
   }
  }
 }

 &.referee {
  tr {
   td {
    padding: 10px;
    width: 33%;
    border-right: 1px solid #ffffff;
    text-align: center;

    &:last-child {
     border-right: none;
    }

    &.photo {
     .thumbnail {
      max-height: 90px;
      width: 60%;
      margin: 0 auto 10px;
      overflow-y: hidden;
     }
    }

    &.middle-ball {
     small {
      font-size: 70%;
      color: #9d9d9d;
     }
    }
   }
  }
 }

 &.scores {
  tr {
   td {
    text-align: center;

    &.td-collapse {
     border-top: none;
    }

    &.photo {
     width: 10%;
     @media (max-width: @screen-sm-min) {
      width: 20%;
     }

     .thumbnail {
      max-height: 90px;
      margin: 0 auto 10px;
      overflow-y: hidden;
     }
    }

    &.score {
     vertical-align: middle;

     small {
      //font-size: 70%;
      color: #9d9d9d;

      &.score-actual {
       color: #3a87ad;
      }
     }

     &.no {
      small {
       color: #FF0000;
      }
     }

     &.middle {}
    }

    &.revize {
     vertical-align: middle;

     small {
      //font-size: 70%;
      color: #18bc9c;
     }

     &.no {
      small {
       color: #FF0000;
      }
     }
    }
   }
  }
 }
 &.fund {
  tr {
   td {
    text-align: center;
    vertical-align: middle;
    width: 10%;
    &.prize {
     font-size: 2.0rem;

     &.trophy {
       color: #FFD700;
       text-align: left;
       //width: 12%;
     }
     &.like {
      color: #FF0000;
      text-align: left;
      //width: 12%;
     }
     small {
      padding: 5px;
      border-radius: 8px;
      font-size: 1rem;
      background-color: #edde34;
      color: #ffffff;
      i {
       font-size: 1.1rem;
       color: #ffffff;
      }
     }
    }

    &.sum {
      color: #9d9d9d;
      i {
       font-size: 1.1rem;
       color: #999999;
      }
    }

    &.position {
     color: #3a87ad;
     text-align: left;
     small {
      border-radius: 50px;

      &.first {
       background-color: #edde34;
       padding: 6px 14px;
       color: #ffffff;
      }
      &.second {
       background-color: #EFF1FA;
       padding: 6px 14px;
       color: #000000;
      }
      &.third {
       background-color: #E46B2F;
       padding: 6px 10px;
       color: #ffffff;
      }

     }
    }

   }
  }
 }
}

.nommi-rating {
 display: table;
 width: 100%;
 height: 300px;
 margin-bottom: 16px;
 @media (max-width: @screen-sm-min) {
  margin-bottom: 30px;
 }

 .block {
  display: table-cell;
  vertical-align: bottom;
  width: 30%;

  .thumbnail {
   max-height: 90px;
   width: 60%;
   margin: 0 auto 10px;
   overflow-y: hidden;
  }

  a {
   &.lenta {
    display: block;
    margin-bottom: 10px;
    width: 98%;

    &.prize {
     &.first {
      background-color: #FFBA00;
     }

     &.second {
      background-color: #0083C9;
     }

     &.third {
      background-color: #18bc9c;
     }
    }

    &.like {
     &.first {
      background-color: #FF8080;
     }

     &.second {
      background-color: #0083C9;
     }

     &.third {
      background-color: #18bc9c;
     }
    }
   }
  }

  p {
   //margin-bottom: 0;
   &.prize {
    color: #333333;

    small {
     padding: 5px;
     color: #9d9d9d;
     border-radius: 16px;

     &.first {
      background-color: #FFBA00;
     }

     &.second {
      background-color: #0083C9;
     }

     &.third {
      background-color: #18bc9c;
     }
    }
   }

   &.like {
    color: #FF0000;

    small {
     padding: 5px;
     color: #ffffff;
     border-radius: 16px;

     &.first {
      background-color: #FF8080;
     }

     &.second {
      background-color: #0083C9;
     }

     &.third {
      background-color: #18bc9c;
     }
    }
   }

   a {
    color: #5D9FC2;
   }
  }
 }
}

.rating-block {
 display: table;
 width: 100%;
 height: 300px;
 margin-bottom: 16px;
 @media (max-width: @screen-sm-min) {
  margin-bottom: 30px;
 }

 .block {
  display: table-cell;
  vertical-align: bottom;
  width: 14%;

  .thumbnail {
   //max-height: 50px;
   width: 96%;
   margin: 0 auto 2px;
   overflow-y: hidden;
  }

  a {
   &.lenta {
    display: block;
    margin-bottom: 10px;
    width: 98%;

    &.prize {
     &.first {
      background-color: #FFBA00;
     }

     &.second {
      background-color: #0083C9;
     }

     &.third {
      background-color: #18bc9c;
     }

     &.universal {
      background-color: #F997A9;
     }
    }

    &.like {
     &.first {
      background-color: #FF8080;
     }

     &.second {
      background-color: #0083C9;
     }

     &.third {
      background-color: #18bc9c;
     }

     &.universal {
      background-color: #E4C383;
     }
    }
   }
  }

  p {
   //margin-bottom: 0;
   &.prize {
    color: #3a87ad;

    small {
     padding: 5px;
     color: #3a87ad;
     border-radius: 16px;

     &.first {
      background-color: #FFBA00;
     }

     &.second {
      background-color: #0083C9;
     }

     &.third {
      background-color: #18bc9c;
     }
    }
   }

   &.like {
    color: #FF0000;

    small {
     padding: 5px;
     color: #ffffff;
     border-radius: 16px;

     &.first {
      background-color: #FF8080;
     }

     &.second {
      background-color: #0083C9;
     }

     &.third {
      background-color: #18bc9c;
     }
    }
   }

   a {
    color: #5D9FC2;
   }
  }
 }
}

.is-competitor {
 .thumbnail {
  max-height: 90px;
  width: 60%;
  margin: 0 auto 10px;
  overflow-y: hidden;
 }
}
