    .photo {
        .pic {
            overflow-y: hidden;
            position: relative;

            &.closed {
              opacity: 0.5;
            }
            img {
                border: 0;
            }
            a {
                position: relative;
            }
            @media (min-width: @screen-lg-min) {
                height: 350px;
            }
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                height: 320px;
            }
            @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                height: 320px;
            }
            @media (max-width: @screen-xs-max) {
                height: 280px;
            }
            .pic-bar {
                position: absolute;
                z-index: 2;
                width: 100%;
                bottom: 0;
                background: rgba(24, 188, 156, 0.8);
                padding: 0 02em;
                height: 5em;
                //background-color: #18bc9c;
                //@media (min-width: @screen-lg-min) {
                //height: 80px;
                //}
                //@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                //height: 60px;
                //}
                //@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                //height: 40px;
                //}
                //@media (max-width: @screen-xs-max) {
                    //display: none;
                //}
                h4 {
                    color: #ffffff;
                    a {
                        color: #ffffff;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            &.big {
                @media (min-width: @screen-lg-min) {
                    height: 700px;
                }
                @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    height: 700px;
                }
                @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                    height: 600px;
                }
                @media (max-width: @screen-xs-max) {
                    height: 400px;
                }
                .pic-bar {
                    background-color: #eeeeee;
                    @media (max-width: @screen-xs-max) {
                        display: block;
                    }
                    p {
                        font-size: 2em;
                        margin-top: 0.5em;
                    }
                }
            }
            &.mini {
                @media (min-width: @screen-lg-min) {
                    height: 170px;
                }
                @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    height: 140px;
                }
                @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                    height: 105px;
                }
                @media (max-width: @screen-xs-max) {
                    height: 85px;
                }
                .pic-bar {
                    background-color: #eeeeee;
                    height: 2em;
                    padding: 0.01em;
                    p {
                        margin-top: 0.5em;
                        font-size: 0.7em;
                    }
                }
            }
            .pic-add {
                color: #eeeeee;
            }
            &.download {
                opacity: 0.5;
                .pic-bar {
                    background: rgba(245, 134, 134, 1.0);
                    p {
                        font-size: 0.8em;
                        margin-top: 0.5em;
                        color: #ffffff;
                    }
                    @media (max-width: @screen-xs-max) {
                        display: block;
                    }
                }
            }
            &.rejected {
                opacity: 0.5;
                .pic-bar {
                    background: rgba(17, 88, 189, 1.0);
                    p {
                        font-size: 0.8em;
                        margin-top: 0.5em;
                        color: #ffffff;
                    }
                    @media (max-width: @screen-xs-max) {
                        display: block;
                    }
                }
            }
        }
    }
