/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 20, 2016, 9:27:01 AM
    Author     : developer
*/
body a:hover {
  text-decoration: none;
}
body a.more {
  color: #0083C9;
  margin-bottom: 60px;
}
@media screen and (max-width: 700px) {
  body a.more {
    margin-bottom: 40px;
  }
}
body a.btn.btn-blue {
  background-color: #0083ca;
  color: #ffffff !important;
  border: none;
  border-radius: 0;
  font-size: 110%;
  text-decoration: none;
}
body p {
  font-size: 110%;
}
body p.introbig {
  font-style: italic;
}
body p a {
  color: #0083ca;
  text-decoration: underline;
}
body p a:hover {
  color: #0083ca;
}
body ul {
  padding: 0;
  margin: 0;
}
body h1 {
  color: #0083ca;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 36px;
}
@media screen and (max-width: 700px) {
  body h1 {
    margin-top: 10px;
  }
}
body h2 {
  color: #0083ca;
  margin-top: 50px;
  margin-bottom: 40px;
}
@media screen and (max-width: 700px) {
  body h2 {
    margin-top: 10px;
  }
}
body h3 {
  color: #0083ca;
  margin-top: 40px;
  margin-bottom: 30px;
}
@media screen and (max-width: 700px) {
  body h3 {
    margin-top: 10px;
  }
}
body table tr:first-child {
  border-bottom: 2px solid #b4bcc2;
}
body table tr td a {
  color: #0083ca;
  text-decoration: underline;
}
body table tr td a:hover {
  color: #0083ca;
}
body table.nommy {
  background-color: #00BD99;
  width: 100%;
}
@media screen and (max-width: 700px) {
  body table.nommy {
    margin-top: 20px;
  }
}
body table.nommy tr:first-child {
  border-bottom: none;
}
body table.nommy tr td {
  padding: 20px;
  border: 2px solid #ffffff;
}
body table.nommy tr td.prize {
  text-align: center;
}
body table.nommy tr td.prize p.sum {
  color: #ffffff;
  font-size: 110%;
  padding: 0;
  margin: 0;
}
body table.nommy tr td.prize p.currency {
  color: #ffffff;
  font-size: 140%;
  margin-top: -5px;
}
body img.pull-left {
  margin-right: 10px;
}
body .fl-left {
  float: left !important;
}
body .fl-rightt {
  float: right !important;
}
body .alert {
  border-radius: 0;
  margin-bottom: 0;
}
body form {
  margin-bottom: 70px;
}
body form label {
  color: #5a5a5a;
  font-weight: normal;
  font-size: 110%;
  line-height: 90%;
}
body form label span {
  color: #0083ca;
  font-size: 150%;
}
body form label.text-left {
  text-align: left !important;
}
@media screen and (max-width: 700px) {
  body form input.search {
    margin-bottom: 12px;
  }
}
body form .btn.btn-blue {
  background-color: #0083ca;
  border: none;
  border-radius: 0;
  font-size: 110%;
}
body form p.pflink {
  font-size: 90%;
  margin: 3px 0 0 16px;
}
body form p.pflink a {
  color: #0083ca;
}
body form .form-group .checkbox input {
  margin-left: 0;
}
body .w50p {
  width: 50%;
}
body .temp-like {
  padding: 5px 10px;
  background-color: #00a65a;
  color: #ffffff;
}
body .intext {
  margin-bottom: 70px;
}
body .intext ul,
body .intext ol {
  padding-left: 40px;
  font-size: 110%;
  margin-bottom: 12px;
}
body #header .menu-top {
  height: 42px;
  background-color: #DFDFE1;
}
@media screen and (max-width: 700px) {
  body #header .menu-top {
    display: none;
  }
}
body #header .menu-top ul {
  margin-left: -15px;
}
body #header .menu-top ul li {
  display: block;
  float: left;
}
body #header .menu-top ul li a {
  display: block;
  padding: 0 15px;
  color: #636a73;
  line-height: 42px;
}
body #header .menu-top ul li a:hover {
  background-color: #ffffff;
}
body #header .menu-top ul li a.active {
  font-weight: bold;
  background-color: #ffffff;
}
body #header .menu-top .link-auth {
  padding-top: 10px;
}
body #header .menu-top .link-auth a {
  color: #636a73;
}
body #header .header-area {
  height: 120px;
  position: relative;
  z-index: 1;
}
body #header .header-area a.logo {
  display: block;
  width: 177px;
  height: 29px;
  background: url(/assets/img/logo/logo.png) no-repeat;
  margin-top: 44px;
  float: left;
}
@media screen and (max-width: 700px) {
  body #header .header-area a.logo {
    margin-top: 20px;
  }
}
body #header .header-area button.show-bar {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 12px;
  border: none;
  padding: 5px;
  background-color: #ffffff;
  outline: none;
}
body #header .header-area button.show-bar span {
  display: block;
  width: 40px;
  height: 7px;
  background-color: #0083C9;
  margin-bottom: 8px;
}
@media screen and (min-width: 700px) {
  body #header .header-area button.show-bar {
    display: none;
  }
}
body #header .header-area .panel-us {
  position: absolute;
  width: 200px;
  height: 600px;
  background-color: #0083C9;
  z-index: 999;
  width: 95%;
  overflow-y: auto;
}
body #header .header-area .panel-us button.panel-close {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 12px;
  margin-right: 12px;
  border: none;
  padding: 5px;
  background-color: #0083C9;
  outline: none;
}
body #header .header-area .panel-us button.panel-close span {
  display: block;
  width: 40px;
  height: 7px;
  background-color: #ffffff;
  margin-bottom: 8px;
}
body #header .header-area .panel-us .link-auth {
  margin-top: -36px;
}
body #header .header-area .panel-us .link-auth a {
  color: #ffffff;
}
body #header .header-area .panel-us .menu-mobile ul li {
  clear: both;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}
body #header .header-area .panel-us .menu-mobile ul li:last-child {
  border-bottom: none;
}
body #header .header-area .panel-us .menu-mobile ul li a {
  font-size: 15px;
  color: #ffffff;
}
body #header .header-area ul {
  margin-top: 50px;
}
@media screen and (max-width: 700px) {
  body #header .header-area ul {
    margin-top: 10px;
  }
}
body #header .header-area ul li {
  display: block;
  float: left;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  body #header .header-area ul li {
    margin-right: 6px;
  }
}
body #header .header-area ul li a {
  display: block;
  color: #636a73;
  font-size: 12px;
  line-height: 10px;
}
body #header .header-area ul li a .ll {
  float: left;
  width: 30px;
  font-size: 24px;
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  body #header .header-area ul li a .ll {
    margin-right: 4px;
  }
}
body #header .header-area ul li a .lr {
  float: left;
  width: 70px;
}
@media screen and (max-width: 700px) {
  body #header .header-area ul li a .lr {
    display: none;
  }
}
body #header .menu-bottom {
  height: 48px;
  background-color: #0083C9;
}
@media screen and (max-width: 700px) {
  body #header .menu-bottom {
    display: none;
  }
}
body #header .menu-bottom ul {
  margin-left: -15px;
}
body #header .menu-bottom ul li {
  display: block;
  float: left;
}
body #header .menu-bottom ul li a {
  display: block;
  padding: 0 15px;
  color: #ffffff;
  line-height: 48px;
}
body #header .menu-bottom ul li a:hover {
  background-color: #ffffff;
  color: #0083C9;
}
body #header .menu-bottom ul li a.active {
  font-weight: bold;
  color: #0083C9;
  background-color: #ffffff;
}
body #footer .menu-top {
  height: 48px;
  background-color: #0083C9;
}
@media screen and (max-width: 700px) {
  body #footer .menu-top {
    display: none;
  }
}
body #footer .footer-area {
  height: 300px;
  background-color: #FAFAFA;
}
body .breadcrumbs {
  height: 38px;
  background-color: #FAFAFA;
}
@media screen and (max-width: 700px) {
  body .breadcrumbs {
    display: none;
  }
}
body .breadcrumbs .breadcrumb {
  background-color: transparent;
  padding-left: 0;
}
body .breadcrumbs .breadcrumb li a {
  color: #0083C9;
}
body ul.users li {
  display: block;
  margin-bottom: 46px;
}
body ul.users li a {
  display: table;
  background-color: #FAFAFA;
  padding: 10px;
  border: 1px solid #cccccc;
  height: 180px;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 700px) {
  body ul.users li a {
    height: 150px;
  }
}
body ul.users li a .block-left {
  display: table-cell;
  vertical-align: top;
  margin-right: 16px;
  width: 160px;
  height: 160px;
}
@media screen and (max-width: 700px) {
  body ul.users li a .block-left {
    height: 130px;
  }
}
@media screen and (max-width: 700px) {
  body ul.users li a .block-left {
    width: 130px;
  }
}
body ul.users li a .block-left img {
  max-width: 160px;
  max-height: 160px;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  body ul.users li a .block-left img {
    max-width: 130px;
    max-height: 130px;
  }
}
body ul.users li a .block-right {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}
body ul.users li a p {
  color: #383a40;
  line-height: 17px;
  text-align: right;
}
body ul.users li a p.more {
  position: absolute;
  right: 10px;
  bottom: 6px;
  color: #0083C9;
  font-size: 100%;
}
body ul.nomination-list li {
  display: block;
  margin-bottom: 46px;
}
body ul.nomination-list li a {
  width: 100%;
}
body ul.nomination-list li a .block-head {
  display: table;
  width: 100%;
  height: 150px;
  background-color: #00BD99;
}
@media screen and (max-width: 700px) {
  body ul.nomination-list li a .block-head {
    height: 120px;
  }
}
body ul.nomination-list li a .block-head .block-left {
  display: table-cell;
  width: 200px;
  vertical-align: middle;
  padding-left: 15px;
}
body ul.nomination-list li a .block-head .block-left h3 {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
body ul.nomination-list li a .block-head .block-right {
  display: table-cell;
  width: 150px;
  vertical-align: middle;
  padding: 15px;
  text-align: center;
}
body ul.nomination-list li a .block-head .block-right .round {
  background: url('/assets/img/design/nomination-round.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 120px;
  height: 120px;
  padding: 20px 0 0 0;
}
body ul.nomination-list li a .block-head .block-right .round p.sum {
  color: #ffffff;
  font-size: 110%;
  padding: 0;
  margin: 0;
}
body ul.nomination-list li a .block-head .block-right .round p.currency {
  color: #ffffff;
  font-size: 140%;
  margin-top: -5px;
}
body ul.nomination-list li a .block-content {
  height: 350px;
  background-color: #EEF1F8;
  color: #2c3e50;
  padding: 15px;
}
@media screen and (max-width: 700px) {
  body ul.nomination-list li a .block-content {
    height: 280px;
  }
}
body ul.nomination-list li a .block-content ul {
  margin-left: 20px;
}
body ul.nomination-list li a .block-content ul li {
  font-size: 110%;
  margin-bottom: 12px;
}
body ul.nomination-list li a .block-action {
  display: table;
  width: 100%;
  height: 100px;
  background-color: #F6EFEF;
}
@media screen and (max-width: 700px) {
  body ul.nomination-list li a .block-action {
    height: 80px;
  }
}
body ul.nomination-list li a .block-action .block-left {
  display: table-cell;
  width: 200px;
  vertical-align: middle;
  padding-left: 15px;
}
body ul.nomination-list li a .block-action .block-left .btn-blue {
  background-color: #0083ca;
  color: #ffffff !important;
  border: none;
  border-radius: 0;
  font-size: 110%;
  text-decoration: none;
}
body ul.nomination-list li a .block-action .block-right {
  display: table-cell;
  width: 150px;
  vertical-align: middle;
  padding: 15px;
}
body ul.nomination-list li a .block-action .block-right p {
  color: #0083ca;
  font-weight: bold;
  line-height: 1;
}
body ul.pagination {
  margin-bottom: 70px;
  /*            @media screen and (max-width: 700px) {
                            display: none;
                        }*/
}
body ul.pagination li.disabled span {
  background-color: #ffffff;
  color: #383a40;
  border-color: #cccccc;
}
body ul.pagination li.disabled span:hover {
  background-color: #ffffff;
  color: #383a40;
  border-color: #cccccc;
}
body ul.pagination li.active span {
  background-color: #0083C9;
}
body ul.pagination li.active span:hover {
  background-color: #0083C9;
}
body ul.pagination li a {
  background-color: #ffffff;
  color: #0083C9;
  border-color: #cccccc;
}
body ul.pagination li a:hover {
  background-color: #0083C9;
}
body ul.pagination li a:focus {
  background-color: #0083C9;
}
body .profile {
  margin-bottom: 50px;
}
body .profile img {
  border: 1px solid #cccccc;
  padding: 7px;
  margin-bottom: 50px;
}
@media screen and (max-width: 700px) {
  body .profile img {
    margin-bottom: 40px;
  }
}
body .profile p {
  color: #383a40;
  line-height: 17px;
}
@media screen and (max-width: 700px) {
  body .profile {
    margin-bottom: 40px;
  }
}
body .news-block {
  margin-bottom: 60px;
}
@media screen and (max-width: 700px) {
  body .news-block {
    margin-bottom: 40px;
  }
}
body .news-block a.news-image {
  margin-right: 10px;
  display: block;
}
body .news-block p.news-head {
  font-size: 26px;
}
body .news-block p.news-head a {
  text-decoration: none;
}
body .news-block p.news-head a:hover {
  text-decoration: underline;
}
body .news-block p.news-introtext {
  min-height: 160px;
}
body .news-block p.news-introtext a {
  color: #2c3e50;
  text-decoration: none;
}
body .news-block p.news-introtext a:hover {
  text-decoration: underline;
}
body .comments {
  margin-bottom: 70px;
}
body .comments .comments-block {
  margin-bottom: 40px;
  border-bottom: 1px solid #F0F0F0;
  padding: 20px 0;
  font-size: 80%;
}
@media screen and (max-width: 700px) {
  body .comments .comments-block {
    margin-bottom: 20px;
  }
}
body .comments .comments-block a {
  color: #0083C9;
  font-size: 120%;
}
body .comments .comments-block a.avatar {
  margin-right: 10px;
  display: block;
}
body .comments .comments-block a.avatar img {
  max-width: 120px;
  max-height: 120px;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  body .comments .comments-block a.avatar {
    margin-bottom: 20px;
  }
}
body .comments .comments-block a.btn.btn-blue {
  font-size: 100%;
  padding: 5px 10px;
}
body .comments .comments-block a.comment-header {
  font-size: 140%;
}
/*# sourceMappingURL=styles.css.map */