/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24.11.2016, 8:48:10
    Author     : developer
*/
@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/bootstrap-em.less";
@import "../bootstrap/less/nommi.less";
@import "../bootstrap/less/comment.less";
@import "../bootstrap/less/news.less";
@import "../bootstrap/less/photo.less";
@import "../bootstrap/less/index-page.less";

html {
  position: relative;
  min-height: 100%;
  @media (min-width: @screen-lg-min) {
    font-size: @font-size-root;
  }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    font-size: 80%;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    font-size: 70%;
  }
  @media (max-width: @screen-xs-max) {
    font-size: 60%;
  }

  body {
    padding-top: 56px;
    /* Margin bottom by footer height */
    @media (max-width: @screen-lg-min) {
      padding-top: 110px;
    }
    margin-bottom: 60px;

    img {
      &.img-content {
        max-height: 300px;

        &.img-left {
          margin: 20px 20px 20px 0;
        }

        &.img-right {
          margin: 20px 0 20px 20px;
        }
      }
    }

    a {
      &:focus {
        outline: none;
      }
    }

    button {
      &.quick-start {
        border-radius: 0;
        border: none;
        background-color: #d9534f;
        height: 3rem;
        font-size: 1.5rem;
        width: 100%;
        color: #ffffff;
        padding: 0;

        &:hover {
          background-color: #d9534f;
          border: none;
        }

        &:focus {
          background-color: #d9534f;
          border: none;
          box-shadow: none;
        }
      }
    }

    .informer {
      //border: 1px solid  #18bc9c;
      //border-radius: 10px;
      //box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      margin-bottom: 40px;
      //padding: 20px;
      @media (max-width: @screen-xs-min) {
        margin-bottom: 20px;
      }
    &.closed {
        display: none;
      }

    }

    .quick-start {
      //background-color: rgb(217, 232, 250);
      padding: 20px;
    }

    .dropdown {
      a {
        &.avatar {
          padding: 4px 0 8px;
        }
      }
    }

    .dropdown-menu {
      li {
        line-height: 2.0em;

        a {
          line-height: 2.0em;
        }
      }
    }

    .lead {
      line-height: 1.2em;
    }

    .decor-menu {
      min-height: 50px;
      background-color: #F2F2F2;

      ul {
        list-style: none;
        text-align: center;
        margin-bottom: 0;
        padding: 6px 0;

        li {
          display: inline-block;
          text-align: center;
          padding: 0 40px;
          @media (max-width: @screen-sm-max) {
            padding: 0 30px;
          }

          a {
            &:hover {
              text-decoration: none;
            }

            p {
              margin-bottom: 0;

              &.lead {
                margin-bottom: 0;
              }
            }
          }

          div {
            p {
              margin-bottom: 0;

              &.lead {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    // устаревшая декор-панель
    .decor {
      margin-bottom: 0;

      .lead {
        margin-bottom: 0;
      }

      &:hover {
        text-decoration: none;
      }
    }
    // ---------------------------------
    .breadcrumb {
      margin-bottom: 0;
    }

    .navbar {
      .navbar-collapse {
        @media (max-width: @screen-lg-min) {
          margin-top: 50px;
        }
      }

      .navbar-brand {
        img {
          position: relative;
          top: -1.2rem;
        }
      }
    }

    form {
      label {
        font-weight: normal;
      }

      &.form-search {
        margin-bottom: 30px;
        @media (max-width: @screen-sm-min) {
          margin-bottom: 16px;
        }
      }

      &.incollapse {
        padding-top: 30px;
      }
    }

    .badge {
      &.badge-info {
        background-color: #3a87ad;
      }

      &.badge-warning {
        background-color: #f89406;
      }
    }


    // Неверно, конечно. Лишнего много. Но, пока что, оставлю, а вдруг текст к ссылке придется добавлять?
    .link-mobile {
      display: table;
      width: 100%;
      position: fixed;
      z-index: 1030;
      top: 50px;

      div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 60px;
        background-color: #FF0000;
        color: #ffffff;
        font-size: 200%;

        button {
          border: none;
          width: 100%;
          height: 100%;
          background-color: inherit;
        }
      }

      .dropdown-backdrop {
        display: none;
      }
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      padding-top: 20px;
      background-color: #f5f5f5;
      @media (max-width: @screen-sm-min) {
        display: none;
      }

      .footer-nav {
        list-style: none;
        padding-left: 0;

        > li > a {
          color: @navbar-inverse-link-color;
          text-decoration: none;

          &:focus,
          &:hover {
            color: @navbar-inverse-link-hover-color;
            background-color: @navbar-inverse-link-hover-bg;
          }
        }

        > .active > a {
          &,
          &:focus,
          &:hover {
            color: @navbar-inverse-link-active-color;
            background-color: @navbar-inverse-link-active-bg;
          }
        }

        > .disabled > a {
          &,
          &:focus,
          &:hover {
            color: @navbar-inverse-link-disabled-color;
            background-color: @navbar-inverse-link-disabled-bg;
          }
        }
      }
    }

    .thumbnail {
      &.user {
        .avatar {
          height: 200px;
          overflow-y: hidden;
          &.closed {
            opacity: 0.5;
          }
        }

        &.liked {
          margin-bottom: 0.5rem;
        }

        .liked {
          height: 100px;
          overflow-y: hidden;
          @media (max-width: @screen-sm-min) {
            height: 60px;
          }
        }
      }

      &.user-pic {
        height: 70px;
        overflow: hidden;

        img {
          height: 70px;
          overflow-y: hidden;
        }
      }

      .text-name {
        text-overflow: ellipsis; // образка длинных блоков с текстом
        overflow: hidden; // прятать выходящий за пределы текст
        width: 100%; // ширина блока с текстом
        white-space: nowrap; // запрет на перенос текста
        line-height: 2em;
        margin-top: 0.2em;
        margin-bottom: 0;
        &.closed {
          opacity: 0.5;
        }
      }

      .caption {
        ul {
          li {
            line-height: 2;
          }
        }
      }
    }
    //Цвета
    .color-white {
      color: #ffffff;
    }

    .color-grew {
      color: #999999;
    }

    .color-gold {
      color: #FFD700;
    }

    .color-red {
      color: #FF0505;
    }

    .color-black {
      color: #000000;
    }

    .color-green {
      color: #008000;
    }

    .color-blue {
      color: #0083C9;
    }

    .color-green-bibikini {
      color: #18bc9c;
    }
    //Эффекты
    .opacity-hide {
      opacity: 0.4;

      &:hover {
        opacity: 1.0;
        text-decoration: none;
      }

      &:focus {
        opacity: 1.0;
        text-decoration: none;
      }
    }

    .opacity-hide-less {
      opacity: 0.8;

      &:hover {
        opacity: 1.0;
        text-decoration: none;
      }

      &:focus {
        opacity: 1.0;
        text-decoration: none;
      }
    }

    .user-list {
      img {
        width: 30px;
        height: 30px;
      }
    }
    //Кнопка "Наверх"
    #top-link-block {
      width: 60px;
      height: 40px;
      background-color: #18bc9c;
      font-size: 200%;

      a {
        color: #ffffff;
      }

      &.affix-top {
        position: absolute;
        /* allows it to "slide" up into view */
        bottom: -82px;
        right: 20px;
      }

      &.affix {
        position: fixed;
        /* keeps it on the bottom once in view */
        bottom: 18px;
        right: 20px;
      }
    }
    // Страница 404
    .error-header {
      h1 {
        font-size: 500%;
      }
    }

    .error-details {
      padding: 40px 0;
    }

    .error-action {
      .btn {
        margin-right: 20px;
      }
    }

    .groups {
      padding-bottom: 40px;
      @media (max-width: @screen-sm-min) {
        padding-bottom: 20px;

        #vk_groups {
          margin-bottom: 20px;
        }
      }
    }
  }

  .advertising {
    &.vertical {
      ul {
        li {
          margin-bottom: 16px;

          a {}
        }
      }
      @media (max-width: @screen-sm-min) {
        display: none;
      }
    }

    &.mobile {
      @media (min-width: @screen-sm-max) {
        display: none;
      }
      padding: 16px 0 0;

      ul {
        li {
          margin-bottom: 16px;

          a {
            img {
              width: 100px;
            }
          }
        }
      }
    }
  }
}
@font-family-base: 'Open Sans', sans-serif; //@navbar-height: 60px;
@navbar-inverse-bg: #000000;
@navbar-inverse-link-color: #ffffff;
@navbar-inverse-link-hover-color: #ff0000;
@navbar-inverse-link-active-bg: #000000;
@navbar-inverse-toggle-icon-bar-bg: #ffffff;
@navbar-inverse-toggle-border-color: #ffffff;
@navbar-inverse-toggle-hover-bg: #ff0000;
@navbar-collapse-max-height: 400px;
@navbar-padding-vertical: 1em;
@dropdown-link-color: #9d9d9d;
@grid-float-breakpoint: @screen-lg-min; //Alerts
@alert-border-radius: none; //Fonts and color
@headings-color: #0083ca; //Breadcrumbs
@headings-color: #000000; // Новый, черные заголовки
@breadcrumb-bg: #ffffff;
@breadcrumb-padding-horizontal: 0; //Popovers
@popover-max-width: 400px;
@link-color: #D2691E;
@link-hover-color: #ff0000;
