/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : May 20, 2016, 9:27:01 AM
    Author     : developer
*/

body {
    a {
        &:hover {
            text-decoration: none;
        }
        &.more {
            color: #0083C9;
            margin-bottom: 60px;
            @media screen and (max-width: 700px) {
                margin-bottom: 40px;
            }
        }
        &.btn {
            &.btn-blue {
                background-color: #0083ca;
                color: #ffffff !important;
                border: none;
                border-radius: 0;
                font-size: 110%;
                text-decoration: none;
            }
        }
    }
    p {
        font-size: 110%;
        &.introbig {
            font-style: italic;
        }
        a {
            color: #0083ca;
            text-decoration: underline;
            &:hover {
                color: #0083ca;
            }
        }
    }
    ul {
        padding: 0;
        margin: 0;
    }
    h1 {
        color: #0083ca;
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 36px;
        @media screen and (max-width: 700px) {
            margin-top: 10px;
        }
    }
    h2 {
        color: #0083ca;
        margin-top: 50px;
        margin-bottom: 40px;
        @media screen and (max-width: 700px) {
            margin-top: 10px;
        }
    }
    h3 {
        color: #0083ca;
        margin-top: 40px;
        margin-bottom: 30px;
        @media screen and (max-width: 700px) {
            margin-top: 10px;
        }
    }
    table {
        tr {
            &:first-child {
                border-bottom: 2px solid #b4bcc2;
            }
            td {
                a {
                    color: #0083ca;
                    text-decoration: underline;
                    &:hover {
                        color: #0083ca;
                    }
                }
            }
        }
        &.nommy {
            background-color: #00BD99;
            width: 100%;
            @media screen and (max-width: 700px) {
                margin-top: 20px;
            }
            tr {
                &:first-child {
                    border-bottom: none;
                }
                td {
                    padding: 20px;
                    border: 2px solid #ffffff;
                    &.prize {
                        text-align: center;
                        p {
                            &.sum {
                                color: #ffffff;
                                font-size: 110%;
                                padding: 0;
                                margin: 0;
                            }
                            &.currency {
                                color: #ffffff;
                                font-size: 140%;
                                margin-top: -5px;
                            }
                        }
                    }
                }
            }
        }
    }
    img {
        &.pull-left {
            margin-right: 10px;
        }
    }
    .fl-left {
        float: left !important;
    }
    .fl-rightt {
        float: right !important;
    }
    .alert {
        border-radius: 0;
        margin-bottom: 0;
    }
    form {
        margin-bottom: 70px;
        label {
            color: #5a5a5a;
            font-weight: normal;
            font-size: 110%;
            line-height: 90%;
            span {
                color: #0083ca;
                font-size: 150%;
            }
            &.text-left {
                text-align: left !important;
            }
        }
        input {
            &.search {
                @media screen and (max-width: 700px) {
                    margin-bottom: 12px;
                }
            }
        }
        .btn {
            &.btn-blue {
                background-color: #0083ca;
                border: none;
                border-radius: 0;
                font-size: 110%;
            }
        }
        p {
            &.pflink {
                font-size: 90%;
                margin: 3px 0 0 16px;
                a {
                    color: #0083ca
                }
            }
        }
        .form-group {
            .checkbox {
                input {
                    margin-left: 0;
                }
            }
        }
    }
    // Служебные
    .w50p {
        width: 50%;
    }
    .temp-like {
        padding: 5px 10px;
        background-color: #00a65a;
        color: #ffffff;
    }
    .intext {
        margin-bottom: 70px;
        ul,
        ol {
            padding-left: 40px;
            font-size: 110%;
            margin-bottom: 12px;
        }
    }
    #header {
        .menu-top {
            height: 42px;
            background-color: #DFDFE1;
            @media screen and (max-width: 700px) {
                display: none;
            }
            ul {
                margin-left: -15px;
                li {
                    display: block;
                    float: left;
                    a {
                        display: block;
                        padding: 0 15px;
                        color: #636a73;
                        line-height: 42px;
                        &:hover {
                            background-color: #ffffff;
                        }
                        &.active {
                            font-weight: bold;
                            background-color: #ffffff;
                        }
                    }
                }
            }
            .link-auth {
                padding-top: 10px;
                a {
                    color: #636a73;
                }
            }
        }
        .header-area {
            height: 120px;
            position: relative;
            z-index: 1;
            a {
                &.logo {
                    display: block;
                    width: 177px;
                    height: 29px;
                    background: url(/assets/img/logo/logo.png) no-repeat;
                    margin-top: 44px;
                    float: left;
                    @media screen and (max-width: 700px) {
                        margin-top: 20px;
                    }
                }
            }
            button {
                &.show-bar {
                    width: 50px;
                    height: 50px;
                    float: right;
                    margin-top: 12px;
                    border: none;
                    padding: 5px;
                    background-color: #ffffff;
                    outline: none;
                    span {
                        display: block;
                        width: 40px;
                        height: 7px;
                        //background-color: #12BC9C;
                        background-color: #0083C9;
                        margin-bottom: 8px;
                    }
                    @media screen and (min-width: 700px) {
                        display: none;
                    }
                }
            }
            .panel-us {
                position: absolute;
                width: 200px;
                height: 600px;
                //background-color: #12BC9C;
                background-color: #0083C9;
                z-index: 999;
                width: 95%;
                overflow-y: auto;
                button {
                    &.panel-close {
                        width: 50px;
                        height: 50px;
                        float: right;
                        margin-top: 12px;
                        margin-right: 12px;
                        border: none;
                        padding: 5px;
                        background-color: #0083C9;
                        outline: none;
                        span {
                            display: block;
                            width: 40px;
                            height: 7px;
                            //background-color: #12BC9C;
                            background-color: #ffffff;
                            margin-bottom: 8px;
                        }
                    }
                }
                .link-auth {
                    margin-top: -36px;
                    a {
                        color: #ffffff;
                    }
                }
                .menu-mobile {
                    ul {
                        li {
                            clear: both;
                            padding: 20px 0;
                            border-bottom: 1px solid #ffffff;
                            width: 100%;
                            &:last-child {
                                border-bottom: none;
                            }
                            a {
                                font-size: 15px;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
            ul {
                margin-top: 50px;
                @media screen and (max-width: 700px) {
                    margin-top: 10px;
                }
                li {
                    display: block;
                    float: left;
                    margin-right: 30px;
                    @media screen and (max-width: 768px) {
                        margin-right: 6px;
                    }
                    a {
                        display: block;
                        color: #636a73;
                        font-size: 12px;
                        line-height: 10px;
                        .ll {
                            float: left;
                            width: 30px;
                            font-size: 24px;
                            margin-right: 16px;
                            @media screen and (max-width: 768px) {
                                margin-right: 4px;
                            }
                        }
                        .lr {
                            float: left;
                            width: 70px;
                            @media screen and (max-width: 700px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .menu-bottom {
            height: 48px;
            //background-color: #12BC9C;
            background-color: #0083C9;
            @media screen and (max-width: 700px) {
                display: none;
            }
            ul {
                margin-left: -15px;
                li {
                    display: block;
                    float: left;
                    a {
                        display: block;
                        padding: 0 15px;
                        color: #ffffff;
                        line-height: 48px;
                        &:hover {
                            background-color: #ffffff;
                            color: #0083C9;
                        }
                        &.active {
                            font-weight: bold;
                            color: #0083C9;
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    #footer {
        .menu-top {
            height: 48px;
            //background-color: #12BC9C;
            background-color: #0083C9;
            @media screen and (max-width: 700px) {
                display: none;
            }
        }
        .footer-area {
            height: 300px;
            background-color: #FAFAFA;
        }
    }
    // Элементы контента
    //Хлебные крошки
    .breadcrumbs {
        height: 38px;
        background-color: #FAFAFA;
        @media screen and (max-width: 700px) {
            display: none;
        }
        .breadcrumb {
            background-color: transparent;
            padding-left: 0;
            li {
                a {
                    color: #0083C9;
                }
            }
        }
    }
    ul {
        &.users {
            li {
                display: block;
                margin-bottom: 46px;
                a {
                    display: table;
                    background-color: #FAFAFA;
                    padding: 10px;
                    border: 1px solid #cccccc;
                    height: 180px;
                    overflow-y: hidden;
                    position: relative;
                    width: 100%;
                    @media screen and (max-width: 700px) {
                        height: 150px;
                    }
                    .block-left {
                        display: table-cell;
                        vertical-align: top;
                        margin-right: 16px;
                        width: 160px;
                        height: 160px;
                        @media screen and (max-width: 700px) {
                            height: 130px;
                        }
                        @media screen and (max-width: 700px) {
                            width: 130px;
                        }
                        img {
                            max-width: 160px;
                            max-height: 160px;
                            overflow: hidden;
                            @media screen and (max-width: 700px) {
                                max-width: 130px;
                                max-height: 130px;
                            }
                        }
                    }
                    .block-right {
                        display: table-cell;
                        vertical-align: top;
                        padding-left: 10px;
                    }
                    p {
                        color: #383a40;
                        line-height: 17px;
                        text-align: right;
                        &.more {
                            position: absolute;
                            right: 10px;
                            bottom: 6px;
                            color: #0083C9;
                            font-size: 100%;
                        }
                    }
                }
            }
        }
        &.nomination-list {
            li {
                display: block;
                margin-bottom: 46px;
                a {
                    width: 100%;
                    .block-head {
                        display: table;
                        width: 100%;
                        height: 150px;
                        background-color: #00BD99;
                        @media screen and (max-width: 700px) {
                            height: 120px;
                        }
                        .block-left {
                            display: table-cell;
                            width: 200px;
                            vertical-align: middle;
                            padding-left: 15px;
                            h3 {
                                margin: 0;
                                padding: 0;
                                color: #ffffff;
                            }
                        }
                        .block-right {
                            display: table-cell;
                            width: 150px;
                            vertical-align: middle;
                            padding: 15px;
                            text-align: center;
                            .round {
                                background: url('/assets/img/design/nomination-round.png') no-repeat;
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                width: 120px;
                                height: 120px;
                                padding: 20px 0 0 0;
                                p {
                                    &.sum {
                                        color: #ffffff;
                                        font-size: 110%;
                                        padding: 0;
                                        margin: 0;
                                    }
                                    &.currency {
                                        color: #ffffff;
                                        font-size: 140%;
                                        margin-top: -5px;
                                    }
                                }
                            }
                        }
                    }
                    .block-content {
                        height: 350px;
                        background-color: #EEF1F8;
                        color: #2c3e50;
                        padding: 15px;
                        @media screen and (max-width: 700px) {
                            height: 280px;
                        }
                        ul {
                            margin-left: 20px;
                            li {
                                font-size: 110%;
                                margin-bottom: 12px;
                            }
                        }
                    }
                    .block-action {
                        display: table;
                        width: 100%;
                        height: 100px;
                        background-color: #F6EFEF;
                        @media screen and (max-width: 700px) {
                            height: 80px;
                        }
                        .block-left {
                            display: table-cell;
                            width: 200px;
                            vertical-align: middle;
                            padding-left: 15px;
                            .btn-blue {
                                background-color: #0083ca;
                                color: #ffffff !important;
                                border: none;
                                border-radius: 0;
                                font-size: 110%;
                                text-decoration: none;
                            }
                        }
                        .block-right {
                            display: table-cell;
                            width: 150px;
                            vertical-align: middle;
                            padding: 15px;
                            p {
                                color: #0083ca;
                                font-weight: bold;
                                line-height: 1;
                            }
                        }
                    }
                }
            }
        }
        &.pagination {
            margin-bottom: 70px;
            li {
                &.disabled {
                    span {
                        background-color: #ffffff;
                        color: #383a40;
                        border-color: #cccccc;
                        &:hover {
                            background-color: #ffffff;
                            color: #383a40;
                            border-color: #cccccc;
                        }
                    }
                }
                &.active {
                    span {
                        background-color: #0083C9;
                        &:hover {
                            background-color: #0083C9;
                        }
                    }
                }
                a {
                    background-color: #ffffff;
                    color: #0083C9;
                    border-color: #cccccc;
                    &:hover {
                        background-color: #0083C9;
                    }
                    &:focus {
                        background-color: #0083C9;
                    }
                }
            }
            /*            @media screen and (max-width: 700px) {
                            display: none;
                        }*/
        }
    }
    // Страница пользователя
    .profile {
        img {
            border: 1px solid #cccccc;
            padding: 7px;
            margin-bottom: 50px;
            @media screen and (max-width: 700px) {
                margin-bottom: 40px;
            }
        }
        p {
            color: #383a40;
            line-height: 17px;
        }
        margin-bottom: 50px;
        @media screen and (max-width: 700px) {
            margin-bottom: 40px;
        }
    }
    //Список новостей
    .news-block {
        margin-bottom: 60px;
        @media screen and (max-width: 700px) {
            margin-bottom: 40px;
        }
        a {
            &.news-image {
                margin-right: 10px;
                display: block;
            }
        }
        p {
            &.news-head {
                font-size: 26px;
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &.news-introtext {
                min-height: 160px;
                a {
                    color: #2c3e50;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    //Комментарии
    .comments {
        margin-bottom: 70px;
        .comments-block {
            margin-bottom: 40px;
            border-bottom: 1px solid #F0F0F0;
            padding: 20px 0;
            @media screen and (max-width: 700px) {
                margin-bottom: 20px;
            }
            font-size: 80%;
            a {
                color: #0083C9;
                font-size: 120%;
                &.avatar {
                    margin-right: 10px;
                    display: block;
                    img {
                        max-width: 120px;
                        max-height: 120px;
                        overflow: hidden;
                    }
                    @media screen and (max-width: 700px) {
                        margin-bottom: 20px;
                    }
                }
                &.btn {
                    &.btn-blue {
                        font-size: 100%;
                        padding: 5px 10px;
                    }
                }
                &.comment-header {
                    font-size: 140%;
                }
            }
        }
    }
}
